/vendor
/node_modules

# Laravel 4 specific
/bootstrap/compiled.php
/app/storage/meta/*
/app/storage/sessions/*
/app/storage/views/*

# Laravel 5 & 6 specific
/bootstrap/cache/
/storage/*.key
/.env.*.php
/.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
/.rocketeer/

# PHPStorm IDE
/.idea/

# Phpunit
/phpunit.xml

# SublimeText
/*.sublime-workspace

# sftp configuration file
/sftp-config.json

# Mac DS_Store Files
.DS_Store

# Windows Thumbnail cache
Thumbs.db

# Windows Files
Desktop.ini

# PHPUnit
/app/tests/_log/
.phpunit.result.cache

# dotenv
.env.backup
.env.testing

# Backup dump file for migrating database from env
/database/database.sql

# Node local development
.npm