@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* Modifica il colore di sfondo e del testo */
.welcome-guest{
    margin-top: 250px;
}

.btn{
    background: linear-gradient(135deg, #bf00ff 0%, #9200b3 100%);
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 1s ease;
    margin-top: 10px;
}
.btn-read{
    background: linear-gradient(135deg, #007bff 0%, #0056b3 100%);
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 1s ease;
    margin-top: 10px;
}
.btn-modify{
    background: linear-gradient(135deg, green 50%,  darkgreen 100%);
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;

}
.btn-delete{
    background: linear-gradient(135deg, brown 10%, red 100%);
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 1s ease;
    margin-top: 10px;


}
/* Aggiungi effetto al passaggio del mouse */
.btn:hover {
    background: orange;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: scale(0.98);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
#brand-text {
    font-size: 20px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}
.ml2{
    margin-left: 1em;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 600px;
    object-fit: cover;
}
.span-custom{
    margin-right: 40px; /* Aggiungi spazio a destra del testo se necessario */
}




body {
    background-image: url('/public/images/sfondo-spiaggia5.jpg');
    background-size: cover; /* Adatta l'immagine alla dimensione del body */
    background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
    background-position: center center; /* Posiziona l'immagine al centro del body */
    font-family: 'Helvetica Neue', sans-serif; /* Tipo di carattere del testo */
    display: flex;
    flex-direction: column;
    max-height: auto;
    min-height: 100vh; /* Imposta l'altezza minima al 100% dell'altezza della finestra visibile */
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    overflow: auto; /* Aggiunto per permettere lo scrolling */
}
.article-title {
    color: #000;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

.article-subtitle {
    font-family: 'Arial', sans-serif;
    font-style: italic;
}

.article-details {
    font-size: 0.9em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.article-body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    font-size: 20px;
}
.article-h1{
    color: #000;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}
.article-image{
    width: 900px;
    height: 500px;
    margin: 20px auto;
    display: block;
}

.role {
    background: linear-gradient(135deg, #f9f9f9 0%, #fff 100%);
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
    padding-top: 2em;

    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    min-height: 150px;

}

.role-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.role-description {
    font-size: 1.2em;
    color: #666;
   
    transition: opacity 0.3s ease;
    
}
.role-description.visible {
    opacity: 1;
}

.role:hover {
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

.form-label {
    font-weight: bold;
}


/* CSS per l'h1 che assomiglia al sito di riferimento */
.h1 {
    font-family: 'Poppins', sans-serif; /* Scegli il font appropriato */
    font-size: 3rem; /* Imposta la dimensione del font */
    font-weight: 700; /* Imposta il peso del font */
    color: #000000; /* Imposta il colore del testo */
    text-transform: uppercase; /* Trasforma il testo in maiuscolo */
    margin-bottom: 20px; /* Aggiungi margine inferiore */
}


p {

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: center;
   
}

a {
    color: #e8d4a7;
    text-decoration: none;
    text-align: right;
    padding: 15px;
    font-size: 20px;
}
.h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
    color: #fff; 
    text-align: center; 
    margin-top: 30px; 
    margin-bottom: 20px;
}

span{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 300; /* Imposta il peso del font */
    color:#f8f9fa; /* Imposta il colore del testo */
    text-transform: uppercase; /* Trasforma il testo in maiuscolo */
  
}
/**/
.opacity-75 {
    opacity: 0.75;
}


.text-outline {
    -webkit-text-stroke-width: 2px; /* Aumenta lo spessore del contorno */
    -webkit-text-stroke-color: black;
    color: white;
}
.search-form {
    display: flex;
    align-items: stretch; /* Allinea verticalmente gli elementi figli */
}

.search-input {
    flex-grow: 1; /* Permette all'input di espandersi per occupare lo spazio disponibile */
    border: none; /* Rimuove tutti i bordi */
    margin: 0; /* Rimuove i margini */
    border-top-left-radius: 15px; /* Arrotonda l'angolo in alto a sinistra */
    border-bottom-left-radius: 15px; /* Arrotonda l'angolo in basso a sinistra */
    border-top-right-radius: 0; /* Arrotonda l'angolo in alto a sinistra */
    border-bottom-right-radius: 0; /* Arrotonda l'angolo in basso a sinistra */
}

.search-button {
    border: none; /* Rimuove tutti i bordi */
    background-color: #863dba;
    display: flex;
    align-items: center; /* Centra verticalmente l'icona all'interno del bottone */
    justify-content: center; /* Centra orizzontalmente l'icona all'interno del bottone */
    width: 50px; /* Imposta la larghezza del bottone */
    padding: 0; /* Rimuove il padding per far sì che il bottone sia quadrato */
    border-top-right-radius: 15px; /* Arrotonda l'angolo in alto a destra */
    border-bottom-right-radius: 15px; /* Arrotonda l'angolo in basso a destra */
    border-top-left-radius: 0; /* Arrotonda l'angolo in alto a destra */
    border-bottom-left-radius: 0; /* Arrotonda l'angolo in basso a destra */
}


.bg-yellow {
    background-color:gold;
}

/* Rimuovi i pallini per i li */
.custom-nav-item {
    list-style-type: none; /* Rimuovi i pallini */
}
/* Modifica il posizionamento del testo e del pallino */
.custom-nav-link {
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    color: #fff; /* Colore del testo */
    display: inline-block; /* Mostra il testo come blocco */;
    position: relative; /* Posizione relativa per il testo */
    max-width: 50%;
    z-index: 1000 !important;
    height:45px

}



/* Aggiungi effetto al passaggio del mouse */
.custom-nav-link:hover::before {
    width: 100%; /* Espandi il pallino al passaggio del mouse */
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav {
    display: flex;
    align-items: center; /* Center items vertically */
    padding-right: 20px;

}
.navbar-collapse {
    flex: 1;
    max-width: 60%; /* Adjust this value to give more space to the search bar */
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-toggler {
    border: none;
}
.nav-item {
    display: flex;
    transition: all 0.3s ease; /* Smooth transition for all changes */
    color:white;
    z-index: 1000 !important;
    margin-right:50px;
    padding: 10px; /* Increase padding to provide more space */
    width: max-content; /* Add this line */
}

.nav-item:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
    transform: scale(0.95); /* Slightly reduce size on hover to mimic click */
    border-radius: 10%; /* Make the item round on hover */
}
.nav-link {
    display: inline-block;
    padding: .5rem 1rem;
    white-space: nowrap;
}
/* CSS */
@keyframes clickAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

.custom-nav-link.clicked {
    animation: clickAnimation 0.3s ease;
}
.custom-nav-item {
    margin: 0 10px; /* Add space between items */
}

.custom-nav-link {
    transition: color 0.3s ease; /* Smooth color transition */
}


.search-form {
    display: flex;
    justify-content: center;
    width: 100%; /* Take up the full width of its parent */
    max-width: 2100px; /* But don't get bigger than this */
    flex: 1;
    max-width: 100%;
    width: 500px;
    
    
}
.pr-30{
    padding-right: 150px;

}
.ml-auto {
    margin-left: auto;
}
.custom-font {
    font-size: 16px;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.9); /* Da trasparente a bianco semi-trasparente */
    border: none;
    border-radius: 0; /* Rende gli angoli rettangolari */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000 !important;
    width: 250px;
}

.dropdown-item {
    transition: all 0.3s ease;
    font-size: 14px; /* Riduce la dimensione del font */
    padding: 10px 20px; /* Aumenta il padding */
}

.dropdown-item:hover {
    background-color: rgba(0,0,0,0.1);
    box-shadow: none; /* Rimuove l'ombra interna */
}

.dropdown-menu a.dropdown-item {
    color: #000;
    transition: color 0.3s ease;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
    z-index: 999;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea gli elementi a sinistra */
    justify-content: center; /* Allinea gli elementi in alto */
    height: 100%;
    width: 0; /* Da 0 a 240px */
    position: fixed;
    top: 0;
    right: 0; /* Da destra a sinistra */
    z-index: 2;
    overflow-x: hidden;
    border-radius: 25px 0 0 25px; /* Rende la sidebar più rotonda */
    padding-top: 60px;
    box-shadow: 8px 0px 16px rgba(0,0,0,0.4); /* Aumenta l'ombra */
    transition: box-shadow 0.3s ease; /* Aggiunge una transizione all'ombra */
    /*background: linear-gradient(90deg, rgba(93,121,238,0.7), rgba(134,61,186,0.7)); VIOLA*/
    background: linear-gradient(90deg, rgba(47, 168, 193, 0.355), rgba(166, 73, 202, 0.984));
    /*background: linear-gradient(90deg, rgba(132, 241, 255, 0.7), rgba(228, 230, 231, 0.773)); prova*/
    -webkit-backdrop-filter: blur(10px); /* Aggiunge un effetto sfocato per Safari */
    backdrop-filter: blur(3px); /* Aggiunge un effetto sfocato */
}

.sidebar a {
    text-align: right; /* Da centrato a sinistra */
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px; /* Da 25px a 16px */
    color: #fff; /* Da #f1f1f1 a #fff */
    display: block;
    transition: color 0.3s ease; /* Aggiunta transizione */
}

.sidebar a:hover {
    background-color: white; /* Da bianco a grigio scuro */
    box-shadow: 6px 0px 15px rgba(0,0,0,0.6); 
    color:black ;
   
}

.closebtn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
    background-color: transparent; /* Imposta lo sfondo trasparente */
    transition: 0.3s;
}

.closebtn:hover {
    color: #f1f1f1;
    transform: rotate(180deg); /* Fai ruotare la X quando il mouse passa sopra */
}

.closebtn i {
    font-size: 36px;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #202020; /* Da #111 a #202020 */
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: red /* Da #444 a #383838 */
    
}

#main {
    transition: margin-right .5s; /* Da margin-right a margin-left */
    padding: 16px;
}
.menu-item {
    margin: 6px 0;
   
}




/* BG*/
.bg-dark {
    background-color: #000000; /* Set the background color to black */
}

.bg-gradient {
    
    background-color:brown;
}

.bg-black{
    background-color:#000;
}
.bg-orange{
    background-color:coral;
}


.bg-red{
    background-color:red;
}
.bg-info {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}


.navbar-brand {
    display: flex; /* Permette all'immagine di stare accanto al testo */
    align-items: center; /* Allinea verticalmente il testo e l'immagine */
}



.logo {
    width: 200px;
    height:60px;
    object-fit: contain;
    border-radius: 15px; /* Arrotonda i bordi del logo */
    transition: transform 0.3s ease; /* Aggiunge un'animazione di transizione al logo */
}
.logo:hover {
    transform: scale(1.1); /* Ingrandisce il logo del 10% al passaggio del mouse */
}
.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 120px;
    object-fit: cover;
}

.offcanvas {
    width: 300px;
}

.card-body {
    background-color: #f8f9fa;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 120px; /* Aumentato da 100px */
    width: 400px;
    overflow: auto;
    transition: background-color 0.3s ease;
}

.card-body:hover {
   
    background-color: white;
}

.card-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: background-color 0.3s ease;
    height: auto;
    display: flex;
    align-items: center;
    color: #000;
}
.footer-content p, .footer-content div {
    background: linear-gradient(90deg, rgb(242, 242, 242), rgb(255, 247, 247));
    /*background: linear-gradient(90deg, rgba(132, 241, 255, 0.7), rgba(228, 230, 231, 0.773)); prova*/
    -webkit-backdrop-filter: blur(10px); /* Aggiunge un effetto sfocato per Safari */
    backdrop-filter: blur(3px); /* Aggiunge un effetto sfocato */
    margin: 2px; /* Rimuove il margine */
    padding: 2px; /* Rimuove il padding */
    font-size: 0.8em; /* Riduce la dimensione del carattere */
    line-height: 1.2; /* Riduce la distanza tra le linee di testo */
    display: flex; /* Imposta il layout a flexbox */
    flex-direction: column; /* Imposta l'orientamento a colonna */
    justify-content: space-between; /* Distribuisce lo spazio in modo uniforme tra gli elementi */
    align-items: start; /* Allinea gli elementi all'inizio del contenitore */
}

.card-footer:hover {
    background-color: #e9ecef;
}

.card-btn{
    color:coral
}

.card-footer a.btn {
    margin-top: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-footer a.btn:hover {
    background-color:coral;
    color: #fff;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    color:#000;
    font-size: 20px; /* Ridotto da 24px */
    font-weight: bold;
    margin-bottom: 5px; /* Ridotto da 10px */
    margin-top: 10px; /* Ridotto da 15px */
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}
/*------------------------------------------------ FOOTER-------------------------------------------*/



.footer {
    font-family: "Poppins", sans-serif;
    position: static; /* Cambia da absolute a static */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0; /* Rimuovi completamente il padding */
    margin-top: 20px; /* Aggiungi un margine superiore */
    color: #333;
    font-size: 14px; /* Riduci la dimensione del testo */
    width: 100%;
    height: auto; /* Cambia da 100px a auto */
}
.min-vh-100{
    padding-bottom:100px;
      flex-grow: 1
}

.container {
    min-height: 100vh; /* Imposta l'altezza minima al 100% dell'altezza della finestra visibile */
    
}
.container-2 {
    min-height: 10vh; /* Imposta l'altezza minima al 100% dell'altezza della finestra visibile */
    margin-left: auto;
    margin-right: auto;
}
.container-2 .col-12 {
    padding-left: 20%; /* Adatta il padding in base alla larghezza della finestra */
    padding-right: 20%; /* Adatta il padding in base alla larghezza della finestra */
}



.footer h3 {
    color: #000; /* Colore del titolo */
}

.footer ul {
    list-style: none;
    padding: 0;
}



.footer ul li a {
    color:rgba(0, 0, 0, 0.7); /* Colore dei link */
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline; /* Sottolinea il link al passaggio del mouse */
}

/* -----------------------------------------------------------------Footer prova-----------------------------------------------------------------------------------------------*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

footer.body {
  display: flex;
  background: white;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 50vh;

}
span{
    color: black;
   
}

.social-icon,
.menu {
    color:#000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2.5rem;
  color:white;
  margin: 10px 30px;
  display: inline-block;
  transition: 0.5s;
  margin-top: 20px;
  
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}


/* -----------------------------------------------------------------prova-----------------------------------------------------------------------------------------------*/
.alert-saturn {
    background: linear-gradient(90deg,#5d79ee,#863dba);
    color: white;
    text-transform: uppercase;
    border: 0px !important;
    border-radius: 5px !important;
}
.alert {
    
    margin-bottom: 1rem;
    border: 1px solid transparent;
   
}
.custom-div {
    margin-top: 10px; /* Riduci il margine superiore a 10px */
    margin-bottom: 5px; /* Riduci il margine inferiore a 10px */
    height: auto; /* Imposta l'altezza automaticamente in base al contenuto */
    min-height: 20px; /* Imposta un'altezza minima per assicurarti che il div non sia troppo piccolo */
}
.custom-alert {
    padding: 5px; /* Riduci il padding a 5px */
}
.custom-div, .custom-div * {
    margin: 0 !important;
    padding: 0 !important;
}

