@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.font-rounded {
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}
.welcome-guest{

    margin-top: 250px;
}
.my-custom {
    margin-top: 10rem !important;
    margin-bottom: 5rem !important;
}


.main-div {
    background-color: #fff; 
   
}

.welcome-text {
    text-align: center;
}

.small-text {
    font-size: 1em; 
}

.large-text {
    font-size: 2em; 
}
.btn-primary {
    background-color: #007bff; 
    height:auto;
    margin-left: 10px;
}

.btn-primary:hover {
    background-color: #0069d9; 
}

.btn{
    
    
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 1s ease;
    font-weight: bold; 
    transition: transform 0.7s ease;
}
.btn-card{
    color: black;
    padding: 0.5em 0.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 1s ease;
    transition: transform 0.7s ease;
    background-color:transparent;
    font-size: 0.8em;
  
}
.btn-card .fa-heart {
    color: black;
    font-size: 20px;
}

.btn-card .fa-heart.heart-red {
    color: red;
}
.btn-card.liked .fa-heart {
    color: red;
}
@keyframes heartBeat {
    0% { transform: scale(1); }
    25% { transform: scale(1.3); }
    50% { transform: scale(1); }
    100% { transform: scale(1.3); }
}

.heart-beat {
    animation: heartBeat 0.5s linear;
}
.btn-read{
    background: linear-gradient(135deg, #024d9c 0%, #0056b3 100%)!important;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 1s ease;
    margin-top: 10px;
    transition: transform 0.5s ease;
    margin-top: auto;
}
.btn-read2{
    background: linear-gradient(135deg, #024d9c 0%, #0056b3 100%)!important;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 1s ease;
    margin-top: 10px;
    transition: transform 0.5s ease;
    margin-top: auto;
    font-size: 0.8em;
    margin-left: 35vh;
}
.btn-modify{
    background: linear-gradient(135deg, green 50%,  darkgreen 100%);
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 1s ease;
    font-weight: bold; 
    transition: transform 0.7s ease;
    margin-top: auto;
}
.btn-delete{
    background: linear-gradient(135deg, brown 10%, red 100%)!important;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 1s ease;
    margin-top: auto;
   
    transition: transform 0.7s ease;
}

.btn-delete:hover {
    background: linear-gradient(240deg, rgb(245, 87, 25), rgb(236, 62, 14));
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.btn-read:hover {
    font:black;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.1); 
}
.btn-modify:hover {
    font: black;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}
.comments-container {
    margin: 20px 0;
}

.comment {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-author {
    font-weight: bold;
}

.comment-date {
    font-size: 0.8em;
    color: #888;
}

.comment-content {
    margin-top: 10px;
}
#brand-text {
    font-size: 20px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}
.ml2{
    margin-left: 2em;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 600px;
    object-fit: cover;
}
.span-custom{
    margin-right: 40px; 
}
p.small.flex-align {
    align-items: center; 
}
.bg-gradiente{
    background: linear-gradient(135deg, #ff691e 0%, #ff6523 100%)!important;

}
.bg-white {
    background-color: #fff; 
}
.bg-base{
    /* background-image: url('/images/orange.jpg'); */
    /* background: linear-gradient(to right, #ac41f3 , #4738e8); */
    background: linear-gradient(to right, #432eff , #5d00e9);
}
.bg-create{
    background: linear-gradient(to right, #41f39a , #4738e8);
}
.bg-welcome{
    background-color:gray;
}
.bg-careers{

    background: linear-gradient(to right, #f62222, #f34141);
}
.bg-yellow2{
    background-color: rgb(255, 255, 50);

}
.bg-welcome-footer {
    background: linear-gradient(to right, white, #ffdddd, #d92727);
}

.bg-gray2 {
    background: linear-gradient(90deg, #f9f9f9 0%, #fff 100%);
}
.background-div {
    height: 100vh;
    background: linear-gradient(to right, #22a5f6, #8241f3);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mr-10{
    margin-right: 10%;

}

body {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    font-family: 'Roboto', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    min-width: 500px;
} 

.article-body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    font-size: 1.2em; 
    margin: 2em 0; 
    text-align: justify; 
    text-indent: 2em; 
    text-justify: inter-word;
    margin: 1em auto;
    max-width: 800px;
    min-width: 300px;
    padding: 1em;
}
.article-title {
    color: #000;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 5vh;
}

.article-subtitle {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-left: 15vh;
    margin-right: 15vh;
}

.article-details {
    font-size: 2vh; 
    border-bottom: 1px solid #ddd;
    padding-bottom: 1vh; 
    margin-bottom: 2vh;
}
.article-h1{
    color: #000;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-size: 5vh; /
}

.article-image{
    min-width: 40vh;
    width: 50vw; 
    height: 30vw; 
    margin: 2vh auto; 
    display: block;
    margin-bottom: 10vh;
}
 .aulab-create{
    max-width:auto;
 }
.role {
    background: linear-gradient(135deg, #f9f9f9 0%, #fff 100%);
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
    padding-top: 2em;

    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    min-height: 150px;

}

.role-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.role-description {
    font-size: 1.2em;
    color: #666;
   
    transition: opacity 0.3s ease;
    
}
.role-description.visible {
    opacity: 1;
}

.role:hover {
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

.form-label {
    font-weight: bold;
}
.h50{
    height: 50%;
}
.h30{
    height: 30%;
}


.h1 {
    font-family: 'Poppins', sans-serif; 
    font-size: 3rem; 
    font-weight: 700;
    color: #000000; 
    text-transform: uppercase; 
    margin-bottom: 20px;
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: center;
}


a {
    color: #e8d4a7;
    text-decoration: none;
    text-align: right;
    padding: 15px;
    font-size: 20px;
}
.h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: bold; 
    color: #fff; 
    text-align: center; 
    margin-top: 30px; 
    margin-bottom: 20px;
}

span{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color:#f8f9fa; 
    text-transform: uppercase;
  
}
/**/
.opacity-75 {
    opacity: 0.75;
}
.bg-purple {
    background-color: #800080; 
}
.ml10 {
    margin-left: 10px;
}   
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.text-outline {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: white;
}
.search-form {
    display: flex;
    align-items: stretch; 
}

.search-input {
    flex-grow: 1; 
    border: none;
    margin: 0; 
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
}

.search-button {
    background-color: #febd69;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    
}


.bg-yellow {
    background-color:gold;
}


.custom-nav-item {
    list-style-type: none; 
}

.custom-nav-link {
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    color: #fff; 
    display: inline-block; 
    position: relative;
    max-width: 50%;
    z-index: 1000 !important;
    height:45px

}


.custom-nav-link:hover::before {
    width: 100%; 
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex-wrap: wrap; 
}

@media (max-width: 800px) {
    .logo {
        width: 150px; 
        height: 50px;
    }

    .search-form {
        width: 100%; 
    }
}
.navbar-nav {
    display: flex;
    align-items: center; 
    padding-right: 20px;

}

.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-toggler {
    border: none;
}
.nav-item {
    display: flex;
    transition: all 0.3s ease;
    color:white;
    z-index: 1000 !important;
    margin-right:50px;
    padding: 10px;
    width: max-content;
}

.nav-item:hover {
    
    transform: scale(0.95); 
    border-radius: 10%; 
}
.nav-link {
    display: inline-block;
    padding: .5rem 1rem;
    white-space: nowrap;
}
.custom-nav-link.clicked {
    animation: clickAnimation 0.3s ease;
}
.custom-nav-item {
    margin: 0 10px;
}

.custom-nav-link {
    transition: color 0.3s ease;
}


.search-form {
    display: flex;
    justify-content: center;
    width: 100%; 
    max-width: 2100px; 
    flex: 1;
    max-width: 100%;
    width: 500px;
    
    
}
.custom-font {
    font-size: 20px;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.9); 
    border: none;
    border-radius: 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000 !important;
    width: 250px;
}

.dropdown-item {
    transition: all 0.3s ease;
    font-size: 14px; 
    padding: 10px 20px; 
}

.dropdown-item:hover {
    background-color: rgba(0,0,0,0.1);
    box-shadow: none; 
}

.dropdown-menu a.dropdown-item {
    color: #000;
    transition: color 0.3s ease;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
    z-index: 999;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    height: 100%;
    width: 0; 
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    overflow-x: hidden;
    border-radius: 25px 0 0 25px;
    padding-top: 60px;
    box-shadow: 8px 0px 16px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease;
    background: linear-gradient(90deg, rgba(135, 13, 235, 0.771), rgba(33, 95, 165, 0.984));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(3px);
}

.sidebar a {
    text-align: right; 
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #fff; 
    display: block;
    transition: color 0.3s ease;
}

.sidebar a:hover {
    background-color: white; 
    box-shadow: 6px 0px 15px rgba(0,0,0,0.6); 
    color:black ;
   
}
#navbarMenuButton {
    background-color: transparent;
    border: none;
    transition: box-shadow 0.3s ease;
}

.openbtn {
    background-color: #444;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.openbtn:hover {
    background-color: #555;
}

.openbtn:hover .menu-lines {
    transform: scale(1.2);
}
.closebtn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 50px;
    color: white;
    background-color: transparent; 
    transition: 0.7s;
}
.closebtn:hover {
    color: #f1f1f1;
    transform: rotate(90deg); 
}

.closebtn i {
    font-size: 36px;
    color: white;
}
.menu-lines {
    
    color:white;
    margin-left: 20px;
    display: inline-block;
    transition: transform 2s ease;
}

.line {
    display: block;
    width: 25px;
    height: 2px;
    background-color:white;
    margin: 4px 0;
    transition: transform 0.7s ease, margin 0.3s ease;
}
.bg-fire {
    background: linear-gradient(0deg, #ff0000 0%, #ff7f00 50%, #ffff00 100%);
    background-size: 200% 200%;
    animation: fire 3s ease infinite;
}

@keyframes fire {
    0% {background-position: 100% 0%;}
    50% {background-position: 0% 50%;}
    100% {background-position: 50% 0%;}
}
.openbtn:hover .line {
    transform: rotate(180deg);
    
}
.offcanvas {
    width: 300px;
}
/* BG*/

.navbar-brand {
    display: flex; 
    align-items: center; 
}



.logo {
    width: 230px;
    height:70px;
    object-fit: contain;
    border-radius: 15px;
    transition: transform 0.3s ease; 
}
.logo:hover {
    transform: scale(1.1); 
}

.form-container, .image-container {
    transform: scale(1); 
    transform-origin: top left; 
    padding: 20px; 
}

 @media (max-width: 1600px) {
    .form-container, .image-container {
        transform: scale(0.9);
    }
}

@media (max-width: 1400px) {
    .form-container, .image-container {
        transform: scale(0.8); 
    }
}

@media (max-width: 800px) {
    .form-container, .image-container {
        transform: scale(0.6); 
    }
}

@media (max-width: 600px) {
    .form-container, .image-container {
        transform: scale(0.4); 
    }
}
.card3-image{
    min-width: 800px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
@media screen and (max-width: 500px) {
    .card {
        min-width: none;
        width: 80%;
        height: 80%;
    }
    
} 

.card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
    min-width: 50vw;
    max-height: auto;
    padding: 8vh; 
    margin-left: 10vw;
    margin-right: 10vw
}

.card2-img-top {
    height: 30vh;
    object-fit: cover;
    object-position: center;
    justify-content: center;
    margin-bottom: 5vh;
    max-width: 60vh;
  
}


.card2-title {
    font-family: 'Roboto', sans-serif;
    color:#000;
    font-size: 20px; 
    font-weight: bold;
    text-align: left; 
    margin-left: 0; 
    margin-bottom: 3vh; 
}

.card2-footer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    flex-grow: 1;

}

.card3 {
    border: 2px solid rgb(7, 165, 60);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    max-height: 800px;
    width: 500px; 
}
.card-careers {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    max-height: 700px;
    width: 650px; 
}
.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 700px;
    min-width: 25%;
    padding: 0;
    margin: 3rem auto; 
    max-height: auto;
    min-height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh;
}


form {
    align-self: flex-end; 
}



.card-home {
    display: block;
    width: 100%;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

-------------------------------------------- FOOTER-------------------------------------------

form {
    align-self: flex-end; 
}

.footer {
    font-family: "Poppins", sans-serif;
    position: static; 
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0; 
    margin-top: auto; 
    color: #333;
    font-size: 14px; 
    width: 100%;
    height: auto; 
    flex-grow: 1;

}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: space-between;
    margin-top: 10px;
}


footer.body {
    display: flex;
    background: white;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 50vh;
  
  }

.footer h3 {
    color: #000;
}

.footer ul {
    list-style: none;
    padding: 0;
}



.footer ul li a {
    color:rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline; 
}

.min-vh-100{
    padding-bottom:100px;
    
}

.container-2 {
    min-height: 10vh; 
    margin-left: auto;
    margin-right: auto;
}
.container-2 .col-12 {
    padding-left: 20%; 
    padding-right: 20%; 
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


span{
    color: black;
   
}

.social-icon,
.menu {
    color:#000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2.5rem;
  color:white;
  margin: 10px 30px;
  display: inline-block;
  transition: 0.5s;
  margin-top: 20px;
  
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}



.alert-saturn {
    background: linear-gradient(90deg, rgb(0, 213, 255), rgba(177, 59, 228, 0.984));
    color: white;
    text-transform: uppercase;
    border: none; 
    border-radius: 5px;
    padding: 10px; 
}


.alert-saturn {
    background: linear-gradient(90deg, rgb(0, 213, 255), rgba(177, 59, 228, 0.984));
    color: white;
    text-transform: uppercase;
    border: none; 
    border-radius: 5px;
    padding: 10px; 
    text-decoration: none; 
}


.custom-div {
    margin-top: 10px; 
    margin-bottom: 5px; 
    height: auto; 
    min-height: 20px;
}
.custom-div2 {
    margin-bottom: auto;
    height: auto; 
    min-height: 50px; 
}
.custom-alert {
    padding: 5px; 
}
.custom-div, .custom-div * {
    margin: 0 !important;
    padding: 0 !important;
}

#confetti-canvas {
 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}

.smaller-image {
    width: 70%; 
    height: 70%; 
}
.social-icons {
    display: flex;
    justify-content: space-between;
    width: 100px; 
}

.social-icons a {
    color: #000; 
}
.responsive-font {
    font-size: 16px; 
}


@media (min-width: 768px) { 
    .responsive-font {
        font-size: 18px;
    }
}


@media (min-width: 992px) { 
    .responsive-font {
        font-size: 20px;
    }
}


@media (min-width: 1200px) { 
    .responsive-font {
        font-size: 22px;
    }
}
@media (min-width: 1200px) { 
    .responsive-font {
        font-size: 22px;
    }
}
.img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover; 
}
@media (max-width: 1200px) {
    .img-fluid {
        max-width: 90%;
    }

    .card {
        flex-direction: row;
    }
}
@media (max-width: 992px) {
    .img-fluid {
        max-width: 80%;
    }

    .card {
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .img-fluid {
        max-width: 70%;
    }

    .card {
        flex-direction: row;
    }
}
@media (max-width: 576px) {
    .img-fluid {
        max-width: 60%;
    }

    .card {
        flex-direction: column;
    }
}
.glitch-font{
    
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;

}
.glitch-font2{
    
    font-size:30px;
    font-family: 'Bebas Neue', cursive;

}
.button-glitch body {
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-color: #F8F005;
  }
  
.button-glitch, .button-glitch::after {
    width: 20vw;
    height: 86px;
    font-size: 3vh;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%)!important ;
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
  }
  
  .button-glitch::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    width: 80%;
    max-width: 500px;
    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  .button-glitch:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
  .button-glitch2 body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F8F005;
  }
  
  .button-glitch2, .button-glitch2::after {
    width: 190px;
    height: 43px;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%)!important;
   
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 45px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
}
  
  .button-glitch2::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  .button-glitch2:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
  .titolo-glitch body {
    justify-content: center;
    align-items: center;
   
    background-color: #F8F005;
  }
  
.titolo-glitch, .titolo-glitch::after {
    width: 380px;
    height: 86px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
   
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
  }
  
  .comments-section {
    padding: 10px;
    border-top: 1px solid #eee;
}

.comment {
  
    height: 100px;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment-actions {

    display: flex;
    align-items: center;
}

.comment-user-name {
    font-weight: bold;
    margin-right: 10px;
}

.comment-text {
    flex-grow: 1;
    margin-top: 5px;
}

.comment-form-container {
    display: flex;
    margin-top: 10px;
}

.comment-text {
    flex-grow: 1;
    border: none;
    padding: 10px;
}

.submit-comment {
    background: #3897f0!important;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.comment-icon .fa-comment {
    font-size: 14px; 
    margin-right: 5px;
}

.comment .fa-trash, .comment .fa-heart {
   
    margin: 0 10px;
}
.read-article-container {
    flex-grow: 1;
    margin-left: auto;
}


   
.icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
